button {
    color: blue;
    background-color: orange;
    text-align: center;
}

table, th, td {
    border: solid green;
    text-align: center;
    color: red;
}

button:disabled {
    color: red;
    background-color: black;
}